In [1]:
from googleapiclient.discovery import build
import pandas as pd
from datetime import datetime
import googleapiclient.errors
import pymongo
import psycopg2

In [2]:
api_key='AIzaSyDN-urSoTBSvFoYo12n27R6NLUBBIRgNa0'
channel_id ='UCRWbrHSHcFui6N9fh2JKjWA'
youtube = build('youtube', 'v3', developerKey=api_key)

In [3]:
def get_channel_data(channel_id):
    channel_data = []
    request = youtube.channels().list(
        id=channel_id,
        part='snippet,statistics,contentDetails'
    )

    response = request.execute()

    for i in response['items']:
        data = {"Channel_Name": i['snippet']['title'],
                "Channel_Id": i['id'],
                "Subscription_Count": i['statistics']['subscriberCount'],
                "Channel_Views": i['statistics']['viewCount'],
                "Channel_Description": i['snippet']['description'],
                "Playlist_Id": i['contentDetails']['relatedPlaylists']['uploads'],
                "Total_video_count": i['statistics']['videoCount'],
                }

        channel_data.append(data)

    return (channel_data)

In [13]:
get_channel_data(channel_id)

[{'Channel_Name': 'Chillra Paiya',
  'Channel_Id': 'UCRWbrHSHcFui6N9fh2JKjWA',
  'Subscription_Count': '38200',
  'Channel_Views': '3678654',
  'Channel_Description': 'Welcome to my brand new channel - "Chillra Paiya!"\n\nChillra Paiya presents a complete package of entertainment. At Chillra Paiya, you\'ll get videos related to food, reviews, travel, celebration, family, random videos, pranks, and more.\n\nSubscribe to my channel and get my latest videos! \n\nFor any business enquiries please contact - chilrapaiyan@gmail.com\n',
  'Playlist_Id': 'UURWbrHSHcFui6N9fh2JKjWA',
  'Total_video_count': '154'}]

In [9]:
Ch_name=get_channel_data(channel_id)[0]['Channel_Name']

In [10]:
Ch_name

'Chillra Paiya'

In [4]:
playlist_Id=get_channel_data(channel_id)[0]['Playlist_Id']

In [5]:
def get_playlist_data(channel_id):
    playlist = []
    next_page_token = None

    while True:
        request = youtube.playlists().list(
            part="snippet,contentDetails",
            channelId=channel_id,
            maxResults=50,
            pageToken=next_page_token
        )

        response = request.execute()

        for item in response['items']:
            playlist_details = {'Playlist_Id': item['id'],
                                'channel_id': item['snippet']['channelId'],
                                'Playlist_name': item['snippet']['title']}

            playlist.append(playlist_details)

        next_page_token = response.get('nextPageToken')

        if not next_page_token:
            break

    return playlist

In [17]:
get_playlist_data(channel_id)

[{'Playlist_Id': 'PLQKfq0T84O9KkkpvRPE82Aeay3CgxPaKs',
  'channel_id': 'UCRWbrHSHcFui6N9fh2JKjWA',
  'Playlist_name': 'Food Vlog'},
 {'Playlist_Id': 'PLQKfq0T84O9KpP56IJTbqFVuhf-6i1fQd',
  'channel_id': 'UCRWbrHSHcFui6N9fh2JKjWA',
  'Playlist_name': 'INTERVIEW'},
 {'Playlist_Id': 'PLQKfq0T84O9JKaKxRgwe1myZGVhXBY9Vr',
  'channel_id': 'UCRWbrHSHcFui6N9fh2JKjWA',
  'Playlist_name': 'SHORTS'},
 {'Playlist_Id': 'PLQKfq0T84O9L5ULsNPrR4bSC00GCEZ32T',
  'channel_id': 'UCRWbrHSHcFui6N9fh2JKjWA',
  'Playlist_name': '20k SPECIAL LIVE FOR CP FAMILY ♥️'},
 {'Playlist_Id': 'PLQKfq0T84O9KQP4BdFCpzhG0tu38e39r1',
  'channel_id': 'UCRWbrHSHcFui6N9fh2JKjWA',
  'Playlist_name': 'CHALLENGES'},
 {'Playlist_Id': 'PLQKfq0T84O9L-AW6ehd9xUEIZkKvUPBNP',
  'channel_id': 'UCRWbrHSHcFui6N9fh2JKjWA',
  'Playlist_name': 'PRANKS'},
 {'Playlist_Id': 'PLQKfq0T84O9Lx1Rb1CQP7O0zcfgtWMTAt',
  'channel_id': 'UCRWbrHSHcFui6N9fh2JKjWA',
  'Playlist_name': 'VLOG'}]

In [6]:
def get_video_ids(playlist_Id):
    video_ids = []
    next_page_token = None

    while True:
        request = youtube.playlistItems().list(
            part="contentDetails",
            playlistId=playlist_Id,
            maxResults=50,
            pageToken=next_page_token)
        
        response = request.execute()
        playlist_items = response['items']

        for playlist_item in playlist_items:
            video_id = playlist_item['contentDetails']['videoId']
            video_ids.append(video_id)

        next_page_token = response.get('nextPageToken')

        if not next_page_token:
            break
    return video_ids

In [7]:
video_ids=get_video_ids(playlist_Id)

In [8]:
def get_video_details1(video_ids):
    video_data = []
    next_page_token = None
    for i in range(0, len(video_ids), 50):
        request = youtube.videos().list(
            part="snippet,contentDetails,statistics",
            id=','.join(video_ids[i:i + 50]),
            pageToken=next_page_token
        )
        response = request.execute()

        for video in response["items"]:
            published_date_str = video["snippet"]["publishedAt"]
            published_date = datetime.strptime(published_date_str, '%Y-%m-%dT%H:%M:%SZ')
            formatted_published_date = published_date.strftime('%Y-%m-%d %H:%M:%S')

            snippet = video.get("snippet", {})
            statistics = video.get("statistics", {})
            content_details = video.get("contentDetails", {})

            duration = content_details.get("duration", "")
            duration = duration[2:]  # Remove "PT" from the beginning 

            hours = 0
            minutes = 0
            seconds = 0
            
            if 'H' in duration:
                hours_index = duration.index('H')
                hours = int(duration[:hours_index])
                duration = duration[hours_index + 1:]

            if 'M' in duration:
                minutes_index = duration.index('M')
                minutes = int(duration[:minutes_index])
                duration = duration[minutes_index + 1:]

            if 'S' in duration:
                seconds_index = duration.index('S')
                seconds = int(duration[:seconds_index])

            duration_formatted = f"{hours:02d}:{minutes:02d}:{seconds:02d}"

            video_info = {
                "Channel_name": video['snippet']['channelTitle'],
                "Video_id": video["id"],
                "Playlist_Id":playlist_Id,
                "video_title": snippet["title"],
                "description": snippet["description"],
                "publishedAt": formatted_published_date,
                "viewCount": int(statistics.get("viewCount", 0)),
                "likeCount":int (statistics.get("likeCount", 0)),
                "dislikeCount": int(statistics.get("dislikeCount", 0)),
                "favoriteCount": int(statistics.get("favoriteCount", 0)),
                "commentCount": int(statistics.get("commentCount", 0)),
                "duration": duration_formatted,
                "thumbnail_url": snippet["thumbnails"]["default"]["url"],
                "caption_status": content_details.get("caption", "")

            }
            video_data.append(video_info)
        next_page_token = response.get("nextPageToken")
    return video_data

In [ ]:
get_video_details1(video_ids)

In [9]:
def get_comment_data(video_ids):
    comments_data = []
    for ids in video_ids:
        try:
            video_data_request = youtube.commentThreads().list(
                part="snippet",
                videoId=ids,
                maxResults=50).execute()
            video_info = video_data_request['items']
            for comment in video_info:
                comment_info = {
                    'Video_id': comment['snippet']['videoId'],
                    'Comment_Id': comment['snippet']['topLevelComment']['id'],
                    'Comment_Text': comment['snippet']['topLevelComment']['snippet']['textDisplay'],
                    'Comment_Author': comment['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                    'Comment_Published_At': comment['snippet']['topLevelComment']['snippet']['publishedAt']}
                comments_data.append(comment_info)
        except:
            comments = {"comments": None}
    return comments_data

In [ ]:
get_comment_data(video_ids)

In [10]:
channel_dct=get_channel_data(channel_id),
playlist_dct=get_playlist_data(channel_id),
video_dct=get_video_details1(video_ids),
comment_dct=get_comment_data(video_ids)

# mongodb cloud

In [ ]:
mongo_client=pymongo.MongoClient("mongodb://vinoth:vinothvk@ac-8om7l8w-shard-00-00.srdizaf.mongodb.net:27017,ac-8om7l8w-shard-00-01.srdizaf.mongodb.net:27017,ac-8om7l8w-shard-00-02.srdizaf.mongodb.net:27017/?ssl=true&replicaSet=atlas-1coxpo-shard-0&authSource=admin&retryWrites=true&w=majority")

In [ ]:
db = mongo_client['youtube_data']

In [ ]:
col=db["channel1"]

In [11]:
data={"channel_dct":get_channel_data(channel_id),
      "playlist_dct":get_playlist_data(channel_id),
      "video_dct":get_video_details1(video_ids),
      "comment_dct":get_comment_data(video_ids)}

In [ ]:
col.insert_one(data)

# postgresql

In [3]:
sql = psycopg2.connect(host='localhost',user='postgres',password=54321,database='channel_1')
mycursor = sql.cursor()
print(sql)

<connection object at 0x000001BECF780480; dsn: 'user=postgres password=xxx dbname=channel_1 host=localhost', closed: 0>

# creating video_details and inserting data

In [ ]:
mycursor.execute("create table channel (Channel_Name VARCHAR(255),Channel_Id VARCHAR(255),Subscription_Count INT,Channel_Views INT,Channel_Description TEXT,Playlist_Id VARCHAR(255),Total_video_count INT );")
sql.commit()

In [15]:
tuple(data["channel_dct"][0].values())

('Chillra Paiya',
 'UCRWbrHSHcFui6N9fh2JKjWA',
 '38200',
 '3677598',
 'Welcome to my brand new channel - "Chillra Paiya!"\n\nChillra Paiya presents a complete package of entertainment. At Chillra Paiya, you\'ll get videos related to food, reviews, travel, celebration, family, random videos, pranks, and more.\n\nSubscribe to my channel and get my latest videos! \n\nFor any business enquiries please contact - chilrapaiyan@gmail.com\n',
 'UURWbrHSHcFui6N9fh2JKjWA',
 '154')

In [13]:
video_data = tuple(data["channel_dct"][0].values())
query = "insert into channel (Channel_Name,Channel_Id,Subscription_Count,Channel_Views,Channel_Description,Playlist_Id,Total_video_count) values(%s,%s,%s,%s,%s,%s,%s)"
mycursor.execute(query,video_data)
sql.commit()

# creating playlist table and inserting data

In [ ]:
mycursor.execute("create table playlist (Playlist_ID VARCHAR(255),channel_id VARCHAR(255),Playlist_name VARCHAR(255));")
sql.commit()

In [31]:
for i in playlist_dct[0]:
    print(tuple(i.values()))

('PLQKfq0T84O9KkkpvRPE82Aeay3CgxPaKs', 'UCRWbrHSHcFui6N9fh2JKjWA', 'Food Vlog')
('PLQKfq0T84O9KpP56IJTbqFVuhf-6i1fQd', 'UCRWbrHSHcFui6N9fh2JKjWA', 'INTERVIEW')
('PLQKfq0T84O9JKaKxRgwe1myZGVhXBY9Vr', 'UCRWbrHSHcFui6N9fh2JKjWA', 'SHORTS')
('PLQKfq0T84O9L5ULsNPrR4bSC00GCEZ32T', 'UCRWbrHSHcFui6N9fh2JKjWA', '20k SPECIAL LIVE FOR CP FAMILY ♥️')
('PLQKfq0T84O9KQP4BdFCpzhG0tu38e39r1', 'UCRWbrHSHcFui6N9fh2JKjWA', 'CHALLENGES')
('PLQKfq0T84O9L-AW6ehd9xUEIZkKvUPBNP', 'UCRWbrHSHcFui6N9fh2JKjWA', 'PRANKS')
('PLQKfq0T84O9Lx1Rb1CQP7O0zcfgtWMTAt', 'UCRWbrHSHcFui6N9fh2JKjWA', 'VLOG')

In [ ]:
query = "insert into playlist(Playlist_ID,channel_id,Playlist_name) values(%s,%s,%s)"
for i in playlist_dct[0]:
    mycursor.execute(query,tuple(i.values()))
    sql.commit()

# creating comments table and  inserting data

In [ ]:
mycursor.execute("create table comments (Video_id VARCHAR(255),Comment_Id VARCHAR(255),Comment_Text Text,Comment_Author VARCHAR(255),Comment_Published_At TIMESTAMP);")
sql.commit()

In [ ]:
comment_dit=pd.DataFrame(comment_dct)

In [ ]:
[tuple(row) for row in comment_dit.itertuples(index=False)]

In [ ]:
cmt_data=[tuple(row) for row in comment_dit.itertuples(index=False)]
query = "insert into comments(Video_id,Comment_Id,Comment_Text,Comment_Author,Comment_Published_At) values(%s,%s,%s,%s,%s)"
mycursor.executemany(query,cmt_data)
sql.commit()

# creating video table and inserting data

In [ ]:
mycursor.execute("create table video (Channel_name VARCHAR(255),Video_id VARCHAR(255),Playlist_Id VARCHAR(255),video_title VARCHAR(255),description TEXT,publishedAt TIMESTAMP,viewCount INTEGER,likeCount INTEGER,dislikeCount INTEGER,favoriteCount INTEGER,commentCount INTEGER,duration INTERVAL,thumbnail_url VARCHAR(255),caption_status VARCHAR(255))")
sql.commit()

In [ ]:
for i in video_dct[0]:
    print(tuple(i.values()))

In [ ]:
query = "insert into video (Channel_name,Video_id,Playlist_Id,video_title,description,publishedAt,viewCount,likeCount,dislikeCount,favoriteCount,commentCount,duration,thumbnail_url,caption_status) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
for i in video_dct[0]:
    mycursor.execute(query,tuple(i.values()))
    sql.commit()

# query:

In [ ]:
#1.What are the names of all the videos and their corresponding channels?

In [14]:
query_1 = "select channel.channel_name  , video.video_title from channel inner join video on  channel.playlist_Id = video.playlist_Id order by channel.channel_name"
mycursor.execute(query_1)
result_1 = [i for i in mycursor.fetchall()]

In [15]:
dataframe_1=pd.DataFrame(result_1, columns=["Channel Names", "Video Title"], index=range(1, len(result_1) + 1))

In [16]:
dataframe_1

        Channel Names                                        Video Title
1       Chillra Paiya  Monthly 4,00,000 YT Earnings ah😳? And Jail exp...
2       Chillra Paiya  Monthly 4,00,000 YT Earnings ah😳? And Jail exp...
3       Chillra Paiya  Fake Vijaytv Pugazh Prank || 1st Time In South...
4       Chillra Paiya  MY NEW BIKE DELIVERY || RANJETHAME SHORTS 😍 ||...
5       Chillra Paiya  Demo i phone at unbelievable prices | Replacem...
...               ...                                                ...
2150  Vj Siddhu Vlogs             CHENNAI ❤️ | Vj Siddhu Vlogs | #shorts
2151  Vj Siddhu Vlogs  Samantha நாய் குட்டி இவ்ளோ Price-ஆ😍 - Pet Shop...
2152  Vj Siddhu Vlogs  காலை-லயே எறா தொக்கு கூட Tiffen 🦐😋🍽️ | அசத்தும்...
2153  Vj Siddhu Vlogs  50 ரூபா இருந்தா போதும்  😋 - கெத்து காட்டும் EC...
2154  Vj Siddhu Vlogs  Oldest Wineshop In Pondy 😋- நத்தை கறி சும்மா அ...

[2154 rows x 2 columns]

In [ ]:
#2 Which channels have the most number of videos, and how many videos do they have?

In [ ]:
query_2 = "select Channel_Name,Total_video_count from channel order by Total_video_count desc"
mycursor.execute(query_2)
result_2 = [i for i in mycursor.fetchall()]

In [ ]:
dataframe_2 = pd.DataFrame(result_2, columns=["Channel Names", "Total Videos"], index=range(1, len(result_2) + 1))

In [ ]:
dataframe_2

In [ ]:
#3 What are the top 10 most viewed videos and their respective channels?

In [ ]:
query_3 = "select Channel_name ,video_title from video order by viewCount desc limit 10"
mycursor.execute(query_3)
result_3 = [i for i in mycursor.fetchall()]

In [ ]:
dataframe_3=pd.DataFrame(result_3, columns=['Channels', 'Video Title'], index=range(1, len(result_3) + 1))

In [ ]:
dataframe_3

In [ ]:
#4 How many comments were made on each video, and what are their corresponding video names?

In [ ]:
query_4 = "select video_title ,commentCount from video  order by commentCount desc"
mycursor.execute(query_4)
result_4 = [i for i in mycursor.fetchall()]

In [ ]:
dataframe_4=pd.DataFrame(result_4, columns=["Video Title", "Comments count"], index=range(1, len(result_4) + 1))

In [ ]:
dataframe_4

In [ ]:
#5 Which videos have the highest number of likes, and what are their corresponding channel names?

In [ ]:
query_5 = "select channel_name ,video_title,likeCount from video order by likeCount desc "
mycursor.execute(query_5)
result_5 = [i for i in mycursor.fetchall()]

In [ ]:
dataframe_5 = pd.DataFrame(result_5, columns=["Channel Names", "Video Title","likeCount"], index=range(1, len(result_5) + 1))

In [ ]:
dataframe_5

In [ ]:
#6 What is the total number of likes and dislikes for each video, and what are their corresponding video names?

In [5]:
query_6 = "select video_title , likeCount, dislikeCount  from video  order by likeCount desc "
mycursor.execute(query_6)
result_6 = [i for i in mycursor.fetchall()]

In [7]:
dataframe_6=pd.DataFrame(result_6, columns=["video_title", "likeCount", "dislikeCount"], index=range(1, len(result_6) + 1))

In [ ]:
#7 What is the total number of views for each channel, and what are their corresponding channel names?

In [ ]:
query_7 = "select channel_name , Channel_Views from channel order by Channel_Views desc"
mycursor.execute(query_7)
result_7 = [i for i in mycursor.fetchall()]

In [ ]:
dataframe_7 =pd.DataFrame(result_7, columns=["channel_name", "Channel_Views"], index=range(1, len(result_7) + 1))

In [ ]:
dataframe_7

In [ ]:
#8 What are the names of all the channels that have published videos in the year2022?

In [4]:
query_8 = "select channel_name , publishedAt from video where extract(year from publishedAt )= 2022 order by channel_name "
mycursor.execute(query_8)
result_8 = [i for i in mycursor.fetchall()]

In [5]:
dataframe_8=pd.DataFrame(result_8, columns=["channel_name", "publishedAt"], index=range(1, len(result_8) + 1))

In [6]:
dataframe_8

      channel_name         publishedAt
1    Chillra Paiya 2022-04-15 11:46:50
2    Chillra Paiya 2022-01-28 12:30:11
3    Chillra Paiya 2022-04-19 07:10:00
4    Chillra Paiya 2022-04-28 12:30:03
5    Chillra Paiya 2022-04-30 12:30:01
..             ...                 ...
636    Veera Talks 2022-09-19 05:30:02
637    Veera Talks 2022-09-18 09:30:01
638    Veera Talks 2022-09-18 05:30:08
639    Veera Talks 2022-09-17 09:30:14
640    Veera Talks 2022-09-17 05:30:02

[640 rows x 2 columns]

In [ ]:
#9 What is the average duration of all videos in each channel, and what are their corresponding channel names?

In [13]:
#query_9 = "select Channel_name ,avg(duration) from video group by Channel_name order by avg(duration) desc"
query_9 = "select Channel_name,time_format(sec_to_time(avg(time_to_sec(time,(duration)))),'%H:%i:%s') from video group by Channel_name order by 2 desc"
mycursor.execute(query_9)
result_9 = [i for i in mycursor.fetchall()]

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [18]:
dataframe_9=pd.DataFrame(result_9, columns=["Channel name", "Average video Duration"], index=range(1, len(result_9) + 1))

In [19]:
dataframe_9

           Channel name Average video Duration
1        KP Tamil Gamer 0 days 00:25:50.757962
2       Vj Siddhu Vlogs 0 days 00:12:04.521739
3      Nakkalites FZone 0 days 00:07:46.572519
4    Nadhiya Love Settu 0 days 00:07:28.085106
5         Chillra Paiya 0 days 00:05:49.558442
6               SEE SAW 0 days 00:03:41.852941
7             Nottukais        0 days 00:03:19
8   Thidiyan lakshmanan 0 days 00:03:04.272727
9           Veera Talks 0 days 00:02:17.693310
10       Mukkanti Vlogs 0 days 00:02:07.727848

In [ ]:
#10 Which videos have the highest number of comments, and what are their corresponding channel names?

In [ ]:
query_10 = "select Channel_name , video_title , commentCount from video order by commentCount desc"
mycursor.execute(query_10)
result_10 = [i for i in mycursor.fetchall()]

In [ ]:
dataframe_10=pd.DataFrame(result_10, columns=["Channel Names", "Video Title", "commentCount"], index=range(1, len(result_10) + 1))

In [ ]:
dataframe_10